h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none; /* Убирает маркеры */
}
.content-section {
  width: 100%;
  margin: 0 auto;
}
.header {
    padding: 92px 50px 96px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
    }
.header__links-list {
    display: flex;
    gap: 32px;
    align-items: center;
    }
.header__links-list-item {
   list-style: circle;
}
.header__links-list-item_no-bullit {
    list-style-type: none;
 }
 .header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 130px;
}
.header__logo-image {
  width: 100%;
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    justify-self: end;
    font-style: inherit;
    line-height: 1.35;
}
main {}
.cover {
    display: block;
    padding: 165px 50px 50px;
    background-image: url("/images/cover.jpg");
    background-position: center;
    background-size: cover;
    height: 757px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
       }
.overlay {
  position: absolute;
  top: 293px;px;
  left: 0;
  z-index: -0;
  width: 100%;
  height: 100%;
  background-color: #e00d0df8;}
  
.aligned-text {
    font-size: 700%;
    font-weight: 100;
}
.cover__description {
    font-size: 100%;
    font-weight: 10;
}
.bet-button {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 400;}
   
.lots {
    padding: 180px 24px 120px;
}
.about {
    padding : 0px 24px 180px;
}
footer {
    padding : 0px 50px;
}